.notificationBox {
  min-height: 3rem;
}

.notificationText {
  background-color: lightgrey;
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.success {
  color: green;
  border-color: green;
}

.fail {
  color: red;
  border-color: red;
}
